@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

tr#cabecalho {
    border: 2px solid black;
}

th {
    border: 1px solid black;
    padding: 8px;
    color: white;
    background-color: rgb(79, 79, 209);
}

td {
    border: 1px solid black;
    padding: 8px;
}

td.celula {
    background-color: rgb(81, 233, 81);
}