@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    
}

thead {
    border: 2px solid black;
    background-color: rgb(79, 79, 209);
    color: white;
}

tbody {
    border: 2px solid black;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

td.celula {
    background-color: rgb(81, 233, 81);
}