@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

div#container {
    margin: auto;
    min-width: 320px;
    max-width: 800px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

thead {
    border: 2px solid black;
    background-color: rgb(79, 79, 209);
    color: white;
}

tbody:nth-child(odd) {
    background-color: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

td.celula {
    background-color: rgb(81, 233, 81);
}