@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

div#container {
   
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0.5px;
}

thead {
    border: 2px solid black;
    background-color: rgb(79, 79, 209);
    color: white;
}

tbody:nth-child(odd) {
    background-color: lightgray;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

td.celula {
    background-color: rgb(81, 233, 81);
}